/* --- VARS --- */
:root {
    --mainBlue: rgb(63, 63, 129);
    --darkBlue: rgb(34, 34, 82);
    --lightBlue: rgb(119, 144, 198);
    --mainYellow: rgb(218, 218, 175);
    --darkGray: rgb(71, 71, 71);
    --lightGray: rgb(146, 146, 146);
}

/* --- GENERAL --- */
* {
    font-family: "Ubuntu Sans", sans-serif;
    font-size: 20px;
}

main {
    margin: 30px;
}

/* --- NAV BAR --- */
nav {
    display: flex;
    flex-direction: row;
}

nav a {
    text-decoration: none;
    color: rgb(67, 67, 67);
}

nav a:hover {
    color: black;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

.active {
    font-weight: 500;
}

/* --- MENU FILTERING ---*/
.filterDrops {
    display: flex;
    flex-direction: row;
    background-color: var(--lightBlue);
}

.filterDiv {
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
    background-color: var(--lightGray);
}

.filterDiv *{
    color: white;
    text-align: center;
}

.menuItemDiv {
    background-color: var(--darkBlue);
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    justify-content: center;
}

.menuItemDiv:hover {
    background-color: rgb(45, 45, 100);
}

.itemFacts {
    background-color: black;
    display: grid;
    transition: max-height 0.2s ease-out;
    max-height: 0;
    overflow: hidden;
}

.menuItemDiv:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

.opened:after {
    content: "\2212";
  }