<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M-Dining NutriStats</title>
    <!-- <link rel = "stylesheet" type = "text/css" href = "../static/reset.css"/> -->
    <link rel = "stylesheet" type = "text/css" href = "../static/style-new.css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

</head>
<body>

    <header>
        <nav>
            <ul class = "nav-links">
                <li {% block home_active %}{% endblock %}><a href = "{{ url_for('home') }}">Home</a></li>
                <li {% block graph_active %}{% endblock %}><a href = "{{ url_for('graphs')}}">Graphs</a></li>
            </ul>
        </nav>
    </header>

    <main>
    {% block body %}

    {% endblock %}
    </main>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src = "../static/js_file.js"></script>
</body>
</html>