{% extends "base.html" %}

{% block home_active%}class = "active"{% endblock %}

{% block body %}
    <h1>M-Healty NutriStats</h1>

    <div class = "filter">
        <form class = "dropdowns" action = "#" method = "post">
            <label for = "hall">Select Dining Hall:</label>
            <select name = "hall">
                <!-- <option value = "Any">Any</option> -->
                <option value = "Bursley">Bursley</option>
                <option value = "East Quad">East Quad</option>
                <option value = "Markley">Markley</option>
                <option value = "Mosher Jordan">Mosher Jordan</option>
                <option value = "North Quad">North Quad</option>
                <option value = "South Quad">South Quad</option>
                <option value = "Twigs At Oxford">Twigs At Oxford</option>
                
            </select>

            <label for = "meal">Select Meal:</label>
            <select name = "meal">
                <!-- <option value = "Any">Any</option> -->
                <option value = "Breakfast">Breakfast</option>
                <option value = "Lunch">Lunch</option>
                <option value = "Dinner">Dinner</option>
            </select>

            <input type = "submit" value = "Get Items">

        </form>

    </div>

{% endblock %}